__pycache__/
note.txt
*.log
*.db
*.mp4
*.lock
*.hevc
*.y4m
*.egg-info
*.pyc
*.mp3
*.js
*.xml 
*.txt
.DS_Store
*.json
.env
venv/
video2x/
logs/
videos/
wandb/
IQA-PyTorch/
MDTVSFA/
output/
MANIQA/
frames/
tmp/
vmaf/
services/scoring/vmaf
services/upscaling/models/
test.py