fastapi
pydantic
numpy
minio
opencv-python
loguru
bittensor==9.0.3
redis
sqlalchemy
pandas
httpx
pydantic-settings
firerequests
tqdm
moviepy==1.0.3
python-dotenv
tabulate
pyiqa
wandb
apscheduler
boto3
google-auth 
google-auth-oauthlib 
google-api-python-client